body
{
	background-color: #f6f6f6;
	font-family: 'Encode Sans Expanded', sans-serif;
}

.list-group 
{
	opacity: 0.75;
	width: 1000px;
	margin:0 auto;
}

.btn.btn-default
{
	margin-left:auto;
	margin-right:auto;
	margin-top:1%;
	display:block;
}

.btn.btn-outline-secondary.btn-sm
{
	margin-left:auto;
	margin-top:1%
}

.inline-form{
	display: inline;
}

a:hover{
	text-decoration:none;
}

.get-away{
	margin-top: 20px;
}