{% extends "collections/header.html" %}
	
{% block content %}
	&nbsp
	<div class="list-group">
	  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
		<div class="d-flex w-100 justify-content-between">
		  <h5 class="mb-1">Kolekcje</h5>
		</div> 
		  </a>
		  {% if collections %}
		  {% for collection in collections %}
		  <a href="{% url 'collections:detail' collection.id %}" class="list-group-item list-group-item-action flex-column align-items-start">
			<div class="d-flex w-100 justify-content-between">
			  <h5 class="mb-1">{{ collection.name }}</h5>
                <div class="col-sm4">
                    <button type="button" class="btn btn-sm btn-light"><i class="fas fa-edit"></i>&nbsp;Edytuj</button>
                </div>
			</div>
			<h6 class="text-muted">{{collection.desc}}</h6>
		  </a>
	  {% endfor %}
	  {% else %}
			<p>Brak zdefiniowanych kolekcji</p>
	  {% endif %}
	</div>
	
<a href="{% url 'collections:create_collection' %}">
	<button class="btn btn-default btn-success" type="submit"><i class="fas fa-plus"></i>&nbsp; Dodaj kolekcję</button>
</a>

{% endblock %}
	
