{% extends "collections/header.html" %}

{% block search %}
    <form class="form-inline" role="search" method="get" action="{% url 'collections:index' %}">
        <div class="form-group">
            <input class="form-control mr-sm-2" type="search" placeholder="Szukaj albumu" aria-label="Search" name="q" value="{{ request.GET.q }}">
        </div>
        <button type="submit" class="btn btn-light"><i class="fas fa-search"></i></button>
    </form>
{% endblock %}

{% block content %}
    <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action flex-column align-items-start active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Kolekcje</h5>
            </div>
        </a>
        {% if collections %}
            {% for collection in collections %}
                <a href="{% url 'collections:detail' collection.id %}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Nazwa: {{ collection.name }}</h5>
                        {% if user == collection.user %}
                            <div class="col-sm4">
                                <span><i class="fas fa-universal-access fa-2x"></i></span>
                            </div>
                        {% endif %}
                    </div>
                    <h6 class="text-muted">Opis: {{ collection.desc }}</h6>
                </a>
            {% endfor %}
        {% else %}
            <p>Brak zdefiniowanych kolekcji</p>
        {% endif %}

        {% if user.is_authenticated %}
            <a href="{% url 'collections:create_collection' %}">
                <button class="btn btn-default btn-success" type="submit"><i class="fas fa-plus"></i>&nbsp; Dodaj
                    kolekcję
                </button>
            </a>
        {% endif %}

    </div>
{% endblock %}
	
