{% extends "collections/header.html" %}

{% block content %}

<div class="w3-panel w3-leftbar w3-border-blue">
	<div class="row">
		<div class="col-sm8">
			<h2>{{ value.name }}</h2>
		</div>
	</div>
</div>
<div class="w3-panel w3-leftbar w3-border-yellow">
    <p>{{ value.aggregate }}</p>
</div>

<div class="w3-panel w3-leftbar w3-border-green">
  <p>Data produkcji: {{ value.date }}</p>
</div>

<div class="w3-panel w3-border w3-round">
	<p><b>Opis:</b> {{ value.desc }}</p>
</div>

<small>Dodano {{ value.added }}</small>

<div class="col-sm4">
    <button type="button" class="btn btn-sm btn-light"><i class="fas fa-edit"></i>&nbsp;Edytuj</button>
    <button type="button" class="btn btn-sm btn-danger"><i class="fas fa-trash-alt"></i>&nbsp;Usuń</button>
</div>
{% endblock %}