{% extends 'collections/header.html' %}

{% block content %}
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Logowanie</h3>
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}
                        <form class="form-horizontal" role="form" action="{% url 'collections:login' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_username">
                                    Nazwa użytkownika:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_username" maxlength="30" name="username" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="id_password">
                                    Hasło:
                                </label>
                                <div class="col-sm-10">
                                    <input id="id_password" maxlength="30" name="password" type="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Zaloguj</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        Nie posiadasz konta? <a href="{% url 'collections:register' %}" class="font-weight-bold">Kliknij tutaj</a> aby je
                        utworzyć.
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}