{% extends 'collections/header.html' %}

{% block content %}
    <div class="container-fluid get-away">
        <div class="row">
            <div class="col-sm-12 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>Zarejestruj się już dziś!</h3>
                        {% if error_message %}
                            <div class="alert alert-danger" role="alert">
                                {{ error_message }}
                            </div>
                        {% endif %}
                        <form class="form-horizontal get-away" role="form" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'collections/form_template.html' %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-sm btn-success">Utwórz konto</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="panel-footer">
                        Posiadasz już konto? <a href="{% url 'collections:login' %}" class="font-weight-bold">Kliknij tutaj</a> aby się
                        zalogować.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}